@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .mainGrid {
    max-width: 100vw;
    grid-template-areas:
    "about . .";
    grid-template-rows: 100%;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
}


html { 
  background-color: #94C6DE;
  background-image: url("https://files.strawcdn.com/straw/MDaULuZfNOqFNUQdeaYu.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1em;
  font-family: "Balsamiq Sans", monospace;
}

.active {
  
}

#aboutContainer {
  box-sizing: border-box;
  grid-area: about;
  background-color: white;
  color: black;
  padding: 2em;
}

.pageWrapper {
  box-sizing: border-box;
  margin: auto;
  height: 100%;
}

.pageContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

.pageButton {
  box-sizing: border-box;
  position: absolute;
  width: 37px;
  height: 47px;
  display: flex;
}

.pageButtonImage {
  flex: 1;
}

#lastPageButton {
  left: 0;
}


#nextPageButton {
  right: 0;
}

.mainGrid {
    box-sizing: border-box;
    max-width: 100vw;
    grid-template-areas:
    "";
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    column-gap: .5rem;
    row-gap: .25rem;
  }
  
.buttonhead {
  background-image: url("https://files.strawcdn.com/straw/YaRckxhBChrqXGYItSrE.png");
}
  
.nav {
  grid-area: nav;
}
  
.navIcon {
  width: 37px;
  height: 47px;
}

.silverFooter {
  object-fit: fill;
  max-height: 17px;
  margin: 0;
}

.whiteFooter {
  object-fit: fill;
  max-height: 14px;
  margin: 0;
}