@media (orientation: landscape) {
  

}
 


@media (orientation: portrait) {
  .mainGrid {
    max-width: 100vw;
    grid-template-areas:
    "about . .";
    grid-template-rows: min-content;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
}


html { 
  background-color: #94C6DE;
  background-image: url("https://files.strawcdn.com/straw/MDaULuZfNOqFNUQdeaYu.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1em;
  font-family: "Balsamiq Sans", monospace;
}

body { 
  font-size: 1em;
  font-family: "Balsamiq Sans", monospace;
  margin: 0;
}

.mainGrid {
  box-sizing: border-box;
  max-width: 100vw;
  display: grid;
  grid-template-areas:
  "about . .";
  position: static;
  grid-template-rows: min-content;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: .5rem;
  row-gap: .25rem;
}

#aboutContainer {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  grid-area: about;
  background-color: white;
  color: black;
  padding: 2em;
  position: static;
}

.pageWrapper {
  box-sizing: border-box;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: hotpink;
  position: relative;
}

.pageContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 2px solid blue;
  display: flex;
  overflow: hidden;
  list-style: none;
  background-color: purple;
  position: static;
}

.page {
  box-sizing: border-box;
  background-color: green;
  border: 2px dotted teal;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  position: static;
}

.pageButton {
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  width: 37px;
  height: 47px;
  display: flex;
  padding: 0;
  border: 0;
}

#lastPageButton {
  left: -18px;
  top: 0;
  bottom: 0;
}


#nextPageButton {
  right: -18px;
  top: 0;
  bottom: 0;
}

.pageButtonImage {
  flex: 1;
}

.buttonhead {
  background-image: url("https://files.strawcdn.com/straw/YaRckxhBChrqXGYItSrE.png");
}
  
.nav {
  grid-area: nav;
}
  
.navIcon {
  width: 37px;
  height: 47px;
}

.silverFooter {
  object-fit: fill;
  max-height: 17px;
  margin: 0;
}

.whiteFooter {
  object-fit: fill;
  max-height: 14px;
  margin: 0;
}