
@font-face {
  font-family: "Tecnica 55";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/Tecnica-55.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/Tecnica-55.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/Tecnica-55.ttf") format("truetype"),
  url("https://file.garden/Z9NesCn881IguicE/Tecnica-55.otf") format("opentype");
}

@font-face {
  font-family: "Nuklear";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/NUKLEAR.ttf") format("truetype"),
  url("https://file.garden/Z9NesCn881IguicE/NUKLEAR.otf") format("opentype");
}

@font-face {
  font-family: "Jiki Tourai";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/JikiTourai.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/JikiTourai.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/JikiTourai.ttf") format("truetype");
}

@font-face {
  font-family: "Generic Techno";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/GenericTechno.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/GenericTechno.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/GenericTechno.ttf") format("truetype"),
  url("https://file.garden/Z9NesCn881IguicE/GenericTechno.otf") format("opentype");
}

@font-face {
  font-family: "F1.8";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/F1.8-Regular.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/F1.8-Regular.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/F1.8-Regular.ttf") format("truetype"),
  url("https://file.garden/Z9NesCn881IguicE/F1.8-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Ava";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/AVA.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/AVA.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/AVA.ttf") format("truetype");
}

@font-face {
  font-family: "Syntha Nova";
  font-style: normal;
  font-weight: black;
  src:
  url("https://file.garden/Z9NesCn881IguicE/Syntha%20Nova%20Black.otf") format("opentype");
}

@font-face {
  font-family: "Syntha Nova";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/Syntha%20Nova.woff2") format("woff2"),
  url("https://file.garden/Z9NesCn881IguicE/Syntha%20Nova.woff") format("woff"),
  url("https://file.garden/Z9NesCn881IguicE/Syntha%20Nova.otf") format("opentype");
}