@media (orientation: landscape) {
  .contentFormat {
    
  }

}
 


@media (orientation: portrait) {
  .contentFormat {
    
  }
  
  /* positioning */
  
  #siteBanner {
    margin-top: 10px;
  }
  
  #personalContainer {
    margin-top: 10px;
    margin-left: 16px;
    max-width: calc(40% - 16px);
    float: left;
  }
  
  #navigationContainer {
    margin-top: 10px;
    margin-left: 25px;
  }
  
  #welcomeContainer {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: calc(60% - 32px);
    float: right;
  }
  
  #siteHostContainer {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  #siteHistoryContainer {
    margin-top: 10px;
    margin-left: 25px;
    clear: right;
  }

}

/* DEFAULT */

p {
  font-family: "F1.8", sans-serif;
  font-size: medium;
}

h2 {
  overflow-wrap: anywhere;
  font-size: large;
}

.contentFormat { 
  box-sizing: border-box;
  display: flow-root;
  width: 100%;
  max-width: 100vw;
  background-color: transparent;
  position: static;
}

#siteBanner { 
  background-size: cover;
  background-image: url("https://file.garden/Z9NesCn881IguicE/grasstest.gif");
  background-color: navy;
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  max-width: 100vw;
  font-family: "Ava", serif;
  text-align: center;
}

#personalContainer { 
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  float: left;
}

#personalTitle {
  margin: 0;
  font-size: 1.25em;
}

#profileImage { 
  aspect-ratio: 1/1;
  box-sizing: border-box;
}

#navigationContainer { 
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#navigationContainer details {
  text-align: left;
  font-family: "Tecnica 55", monospace;
  
}
  
#welcomeContainer { 
  color: #485158;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#siteInfoContainer {
  
  
}

#siteHistoryContainer {
  box-sizing: border-box;
  position: relative;
}

#siteHistorySection {
  box-sizing: border-box;
  max-height: 10em;
  max-width: 100%;
}

.siteHistoryEntry {
  color: #485158;
  box-sizing: border-box;
  width: 100%;
}

.siteHistoryEntry time {
  font-size: xx-small;
  margin-top: 0;
  margin-left: 0;
  font-family: "Nuklear", monospace;
}

.siteHistoryEntry p {
  font-size: small;
}

#siteHostContainer {
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}


#githubImage {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  width: 2em;
  max-width: 48px;
}

/* MISC */

.stampStyle {
}

#bio {
  margin: 0;
}

#todoContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: todo;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* main */ 

.testBorderTwo {
  box-sizing: border-box;
  background-image: url("https://file.garden/Z9NesCn881IguicE/testborder4.jpeg");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 16px;
  position: absolute;
  top: -13px;
}