@media (orientation: landscape) {
  .contentFormat {
    
  }
    
  /* positioning */

}
 


@media (orientation: portrait) {
  .contentFormat {
    
  }
  
  /* positioning */
  
  #siteBanner {
    margin-top: 10px;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 12vh;
    min-height: 12vj;
  }
  
  #personalContainer {
    margin-top: 10px;
    margin-left: 14px;
    max-width: calc(40% - 14px);
    min-width: calc(40% - 14px);
    max-height: 8rem;
    min-height: 8rem;
    float: left;
  }
  
  #navigationContainer {
    margin-top: 10px;
    margin-left: 14px;
    clear: left;
    float: left;
    max-width: calc(40% - 14px);
    min-width: calc(40% - 14px);
    max-height: 6rem;
    min-height: 6rem;
    overflow-y: scroll;
  }
  
  #welcomeContainer {
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
    max-width: calc(60% - 28px);
    min-width: calc(60% - 28px);
    max-height: 20rem;
    min-height: 20rem;
    float: right;
  }
  
  #siteHostContainer {
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 14px;
    max-width: calc(100% - 28px);
    min-width: calc(100% - 28px);
    clear: right;
    float: right;
  }
  
  #siteHistoryContainer {
    margin-top: 10px;
    margin-right: 14px;
    clear: right;
    float: right;
    max-width: calc(50% - 14px);
    min-width: calc(50% - 14px);
  }
  
  #graphicContainer {
    top: calc(12vh + 10px + 8rem + 10px + 6rem + 10px);
    left: 14px;
    max-width: calc(40% - 14px);
    min-width: calc(40% - 14px);
    max-height: calc(20rem - 14rem - 35px);
    min-height: calc(20rem - 14rem - 35px);
  }

}

/* DEFAULT */

p {
  font-family: "F1.8", sans-serif;
  font-size: medium;
  overflow: auto;
}

h2 {
  overflow-wrap: break-word;
  text-align: center;
}

h3 {
  text-align: center;
}

.contentFormat { 
  box-sizing: border-box;
  display: flow-root;
  width: 100%;
  max-width: 100vw;
  background-color: transparent;
  position: static;
}

#siteBanner { 
  background-size: cover;
  background-image: url("https://file.garden/Z9NesCn881IguicE/grasstest.gif");
  background-color: navy;
  box-sizing: border-box;
  font-family: "Ava", serif;
  text-align: center;
}

#personalContainer { 
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  float: left;
}

#personalTitle {
  margin: 0;
}

#profileImage { 
  aspect-ratio: 1/1;
  box-sizing: border-box;
}

#navigationContainer { 
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#navigationContainer details {
  text-align: left;
  font-family: "Tecnica 55", monospace;
  
}
  
#welcomeContainer { 
  color: #485158;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#siteInfoContainer {
  
  
}

#siteHistoryContainer {
  box-sizing: border-box;
  position: relative;
}

#siteHistorySection {
  box-sizing: border-box;
  max-height: 10em;
  max-width: 100%;
}

.siteHistoryEntry {
  color: #485158;
  box-sizing: border-box;
  width: 100%;
}

.siteHistoryEntry time {
  font-size: xx-small;
  margin-top: 0;
  margin-left: 0;
  font-family: "Nuklear", monospace;
}

.siteHistoryEntry p {
  font-size: small;
}

#siteHostContainer {
  color: #485158;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#graphicContainer {
  box-sizing: border-box;
  position: absolute;
  background-size: cover;
  background-color: yellow;
}


#githubImage {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  width: 2em;
  max-width: 48px;
}

/* MISC */

.stampStyle {
}

#bio {
  margin: 0;
}

#todoContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: todo;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* main */ 

.testBorderTwo {
  box-sizing: border-box;
  background-image: url("https://file.garden/Z9NesCn881IguicE/testborder4.jpeg");
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 14px;
  position: absolute;
  top: -12px;
}

.columnDividerOne {
  box-sizing: border-box;
  background-size: contain;
  background-repeat: repeat-y;
  height: calc(100% - 4px);
  width: 14px;
  position: absolute;
  left: -12px;
}